/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

*{
box-sizing: border-box;
margin: 0;
padding: 0;

}
.barra{
  float:right;
}
.container{
    width: 100%;

    margin:0px auto;
}
.row:before, .row:after{
    content: " ";
    display:table;
}
.row:after {
    clear:both;
}
[class*="col-"]{
  min-height: 7px;
  float:left;
}
.col-1{
  width:8.333%;
}
.col-2{
  width:16.666%;
}
.col-3{
  width:25%;
}
.col-4{
  width:33.333%;
}
.col-5{
  width:41.666%;
}
.col-6{
  width:50%;
}
.col-7{
  width:58.333%;
}
.col-8{
  width:66.666%;
}
.col-9{
  width:41.666%;
}
.col-10{
  width:75%;
}
.col-11{
  width:91.666%;
}
.col-12{
  width:100%;

}
.text-uppercase {
  text-transform: uppercase;
}

.link {
    font-weight: 700;
    padding: 21px;
}
.logo{
    float:right;
    width: 70px;
}
.imgHome{
  background-image:url(../assets/images/bg-home.jpg);

}
.colorTexto{
  color:white;

}
.espacioArriba{
  margin-top: 50px;
}
.espacioAbajo{
  margin-bottom: 50px;
}
.espacioAbajoPequeno{
  margin-bottom: 35px;
}
.espacioAbajoGrande{
  margin-bottom: 100px;
}
.tamano1{
  font-size: 53px;
}
.tamano2{
  font-size: 25px;
}
.tamano3{
  font-size: 16px;
}
.tamano4{
  font-size: 35px;
}
.fuente{
  font-family:sans-serif;
}
.btn-home{
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 100px;
}
.centrado{
  text-align: center;
}
.margenIzq{
  margin-left: 500px;
}
.rosa{
  background-color: #F17C72;
}
.fijado{
  position: fixed;
  width:100%;
  background-color: white;
}
.texto1{
  padding-top: 100px;
}
.box-services{
  float:left;
  margin-bottom: 100px;
}
.espacioWork{
  background-color: white;
}
